<html>
    <head>
        <title>Maxcraft - Créer une Faction</title>
    </head>

    <body>
        <p>Prix de la faction : {{ prixfaction }}</p>

        <div>
            {{ form(form) }}
        </div>
    </body>
</html>